**/*.dll
**/*.exe
build/*
bin-*/*
distrib/build_*/*
**.bak
**.orig
screenshot.bmp
*.pyc
Thumbs.db
OpenGL-tutorial_v*
**.mtl
.DS_Store
/cmake-build-debug/
.idea/.gitignore
.idea/.name
.idea/misc.xml
.idea/modules.xml
.idea/ogl.iml
.idea/vcs.xml
/tutorial01_first_window/tutorial01_first_window
/tutorial02_red_triangle/tutorial02_red_triangle
/playground/playground
